body {
	margin: 0;
	background: #dbdcde;
} 
div{
	margin: 0 auto;
}
header {
	display: grid;
	height: 11.5%;
	grid-template-columns: 1fr  1.5fr ;
	grid-template-rows: 1fr 0.5fr;
	grid-template-areas: 
	"log  des "
	"form  ."
}
.lid{
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 1.5fr;
}
h1{
	text-align: center;
}
.v{ 	
	

}
.vr{
	
	padding-top: 45px;
}

.m{align-items: center;}

.gr{
 display: grid;
 align-items: center;
 grid-template-columns: 1fr 0.5fr;
}

.img{
	
	padding: 20% 15px;
	float: left;
}
.p{
	padding: 30px 100px 15px 0;
}
.marg{
	margin-top: 17px;
}

#log{grid-area: log;}
#h1{grid-area: h1;}
#des{grid-area: des;}
#form{grid-area: form;}



main{
	margin: 30px;
	display: grid;
	grid-gap: 50px;
	grid-template-columns: 1fr 1fr 1fr; 
}
.m1{
	border: 1px dashed grey;
	display: grid;
	grid-template-rows: 0.3fr 1fr 1fr 1fr
}
.yellow{
	padding: 30px;
	height: 270px;
	width: 270px;
	margin: 20px;
	background: #ffff75;
}
footer{
	margin: 3%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.e{
	margin-left: 10%;
}

